* {
    box-sizing: border-box;
}

body {
    display: block;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/

/* Navbar section */
/* nav {
    background: rgb(25, 112, 187);
    background: linear-gradient(177deg, rgb(46, 123, 190) 0%, rgba(1,114,182,1) 100%); background-size: 100%; 
    padding: 5px 20px;
    
  }
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  
  /* Navbar Toggle */
  .toggle {
    cursor:pointer;
  }
  .bars {
    background: #999;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  .bars:before,
  .bars:after {
    background: #999;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .bars:before {
    top: 5px;
  }
  .bars:after {
    top: -5px;
  }
  
  /* Tablet menu */
  @media all and (min-width: 468px) {
    .menu {
        justify-content: center;
    }
  
    .logo {
        flex: 1;
    }
  
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    .toggle {
        order: 2;
    }
    .button.secondary {
        border: 0;
    }
    .button a {
        padding: 7.5px 15px;
        background: teal;
        border: 1px #006d6d solid;
        border-radius:50em;
    }
    .button.secondary a {
        background: transparent;    
    }
    .button a:hover {
        text-decoration: none;
        transition:all .25s;
    }
    .button:not(.secondary) a:hover {
        background: #006d6d;
        border-color: #005959;
    }
    .button.secondary a:hover {
        color: #ddd;
    } 
  }
  
  /* Desktop menu */
  @media all and (min-width: 768px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 15px 10px;
    }
    .menu li.button {
        padding-right: 0;
    }
  } */

.splide {
    height: 720px;
    overflow: hidden;
    z-index: -1;
}

.splide::before {
    content: "";
    background: linear-gradient(to top,#000 0,transparent 100%)rgba(56, 64, 70, 0.03);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
}



/* Hero */
.container1 {
    position: relative;
    text-align: center;
    color: white;

  }

.hero-text {
    position: absolute;
    top: 300px;
    left: 400px;
    transform: translate(-50%, -50%); 
    z-index: 20;
}

.hero-text h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    font-weight: 700;
}

.hero-text p {
    position: absolute;
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    left: 10px;
}

/* .read-btn button {
    position: absolute;
    top: 500px;
    left: 200px;
    transform: translate(-50%, -50%);
    z-index: 20;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    color: rgb(34, 34, 34);
    width: 150px;
    font-family: 'roboto', sans-serif;
    font-size:20.62344px;
    height: 45px;
    line-height: 29.9492px;
    border-radius: 50px;
    background-color: #fdc800;
    border-width: 0px;
    letter-spacing: 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
    transform-origin: 50% 50% 0px;
    filter: none;
    cursor: pointer;
}

.read-btn :hover {
    background-color: #0a0aa8;
    color: #faf3f3;
    transition: 0.55 ease-in;
}

.read-btn button  {
    text-decoration: none;
    color: rgb(34, 34, 34);
} */

section.read-more-main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
    height: 100vh; */
    margin: -10px -60px 20px -80px;
    /* padding-top: -40px; */
}

#btn-read-more {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px ;
    transition: 0.3s all ease;
    position: relative;
}

#btn-read-more:hover {
    color: #ffffff;
}

#btn-read-more::before {
    position: absolute;
    content: '';
    left: 0;
    z-index: -1;
    background-color: #85cfd6;
    width: 38px;
    height: 38px;
    border-radius: 80px;
    transition: 0.3s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#btn-read-more:hover::before {
    width: 100%;
}

#btn-read-more svg {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

#btn-read-more svg path {
    fill: #292929;
}

.home_intro_text span {
    color: #1a191973;
}


.home_intro_text h1 {
    font-size: 35px;
    padding: 40px;
    margin-right: 23px;
    color: #1a1919;
}

.main-body {
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 28px;
    margin-top: -35px;
}


/* a.read-more {
    text-decoration: none;
    display: flex;
    justify-content: center;
    border: red 1px solid;
    transition: all ease-in-out .2s;
    position: relative;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0ea2ae;
    text-transform: uppercase;
    padding: 0 0 7px;
    overflow: hidden;
    padding-bottom: 10px;
}

a.read-more::before {
    content: '';
    position: absolute;
    background: #e8eff3;
    left: 617px;
    bottom: 0;
    width: 8.5%;
    height: 6px;
    margin: 0;
    z-index: -1;
}

a.read-more::after {
    content: '';
    z-index: -1;
    width: 0;
    background: #2a7c7c;
    transition: all 0.45s ease-in-out;
    position: absolute;
    left: 617px;
    bottom: 0;
    height: 6px;
}

a.read-more:hover::after{
    width: 8.5%;
    transition: 0.35s ease-in-out;
    z-index: 1;
} */

#card-slider{
    margin-top: 80px;
    padding-bottom: 30px;
}
.post-slide{
    background: #fff;
    margin: 20px 15px 20px;
    border-radius: 15px;
    padding-top: 1px;
    box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: -12px 15px 8px 15px;
    margin-left: -10px;
}
.post-slide .post-img img{
    width: 100%;
    height: auto;
    transform: scale(1,1);
    transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
    transform: scale(1.1,1.1);
}
.post-slide .over-layer{
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    opacity:0;
    background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
    transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
    opacity:1;
    text-decoration:none;
}
.post-slide .over-layer i{
    position: relative;
    top:45%;
    text-align:center;
    display: block;
    color:#fff;
    font-size:25px;
}
.post-slide .post-content{
    background:#fff;
    padding: 2px 20px 40px;
    border-radius: 15px;
}
.post-slide .post-title a{
    font-size:15px;
    font-weight:bold;
    color:#333;
    display: inline-block;
    text-transform:uppercase;
    transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
    text-decoration: none;
    color:#3498db;
}
.post-slide .post-description{
    line-height:24px;
    color:#808080;
    margin-bottom:25px;
}
.post-slide .post-date{
    color:#a9a9a9;
    font-size: 14px;
}
.post-slide .post-date i{
    font-size:20px;
    margin-right:8px;
    color: #CFDACE;
}
.post-slide .read-more{
    padding: 7px 20px;
    float: right;
    font-size: 12px;
    background: #2196F3;
    color: #ffffff;
    box-shadow: 0px 10px 20px -10px #1376c5;
    border-radius: 25px;
    text-transform: uppercase;
}
.post-slide .read-more:hover{
    background: #3498db;
    text-decoration:none;
    color:#fff;
}
.owl-controls .owl-buttons{
    text-align:center;
    margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
    background: #fff;
    position: absolute;
    top:-13%;
    left:15px;
    padding: 0 18px 0 15px;
    border-radius: 50px;
    box-shadow: 3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
    background: #fff;
    position: absolute;
    top:-13%;
    right: 15px;
    padding: 0 15px 0 18px;
    border-radius: 50px;
    box-shadow: -3px 14px 25px -10px #92b4d0;
    transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #333;
    font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
@media only screen and (max-width:1280px) {
    .post-slide .post-content{
        padding: 0px 15px 25px 15px;
    }
}

  .wrapper
{
    padding-top: 20px;
	padding-bottom: 50px;
}

.divider
{
	position: relative;
	margin-top: 30px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
 
div.view-all {
    text-align: center;
    /* margin-top: -20px; */
}

a.view-all-texts{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
}